@import "../../../../../../styles/global.scss";

.wall {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);

  &:hover {
    cursor: not-allowed;
  }
}

.modal-msg-wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: fit-content;
  padding: 16px 16px 24px 16px;

  background-color: black;
  box-shadow: 0 0 25px 0px rgba(255, 255, 255, 0.25);

  border: 1px solid $main-color;
  border-radius: 15px;

  text-align: center;

  &:hover {
    cursor: default;
  }

  & > div {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;

    p {
      margin: 0 8px 0 0;

      font-size: 1.75rem;
      font-weight: bold;
      letter-spacing: 2px;
    }

    img {
      width: 30px;
    }
  }

  & > p {
    margin: 0 0 16px 0;

    font-size: 1.25rem;
    font-weight: bold;
  }

  & > button {
    @include button;

    color: $main-color;
    outline: 1px solid $main-color;

    &:hover {
      background-color: $main-color;
      color: black;
    }
  }
}
