@import "../../../../../../styles/global.scss";

.level-wrapper {
  margin: 0;

  display: flex;
  align-items: center;
  column-gap: 8px;

  color: $main-color;
  font-size: 1.5rem;
  text-decoration: underline;
  letter-spacing: 2px;
  word-spacing: 5px;

  img {
    width: 40px;
  }
}
