@import "../../../../../styles/global.scss";

.game-container {
  width: 100%;
  margin-top: -15px;

  .game-data-container {
    & > div {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      time {
        padding: 16px;
        min-width: 35px;

        background-color: $main-orange;
        color: black;

        border-radius: 50%;

        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 2px;
        text-shadow: 1px 1px 2px black;
        text-align: center;
      }
    }
  }

  .math-qa-container {
    margin: 24px 48px 0 0;

    .question {
      margin-bottom: 48px;
      padding: 20px;

      background-color: black;

      border: 1px solid $main-color;
      border-radius: 15px;

      font-weight: bold;
      font-size: 1.1rem;
      letter-spacing: 1px;

      p {
        padding: 0;
        margin: 0;
      }
    }

    .answers-container {
      display: flex;
      row-gap: 24px;
      justify-content: space-between;
      flex-wrap: wrap;

      & > div {
        width: 40%;
        padding: 16px 12px;

        background-color: black;

        border: 1px solid $main-color;
        border-radius: 15px;

        text-align: center;
        word-break: break-all;
        font-weight: bold;
        font-size: 1.1rem;
        letter-spacing: 1px;

        &:hover {
          cursor: pointer;

          background-color: $main-color;
          color: black;
        }
      }

      .correct-answer {
        background-color: darkgreen;

        &:hover {
          cursor: pointer;
          background-color: darkgreen;
          color: $main-color;
        }
      }

      .wrong-answer {
        background-color: darkred;
        &:hover {
          cursor: pointer;
          background-color: darkred;
          color: $main-color;
        }
      }
    }
  }
}
