@import "../../../styles/global.scss";

.math-level-page {
  margin-bottom: 150px;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  & > button {
    @include button;

    animation: pumping linear 2s infinite;
  }
}

.math-level-game-started {
  margin-bottom: auto;
  justify-content: flex-start;
}

@keyframes pumping {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
