@import "../../../../../../styles/global.scss";

.progress-box-wrapper {
  display: flex;

  & > div {
    width: 100px;
    height: 30px;
    outline: 1px solid $main-color;
  }

  .passed-box {
    background-color: darkgreen;
  }

  .current-box {
    background-color: darkorange;
    animation: fade-in-out 2s linear infinite;
  }
}

@keyframes fade-in-out {
  50% {
    background-color: transparent;
  }
}
